body{
	background: #fff;
}
.cart{
	margin: 100px 0;
	background-color: #F6F5FA;;
	padding: 60px 0;
}
.total-price{
	padding-bottom: 15px;
}
.cart-item{
	background-color: #fff;
	border-radius: 10px;
	padding: 15px 20px;
	margin-bottom: 20px;
}
.center-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cart-item img{
	width: 115px;
}
.cart-item h5{
    padding: 0 45px;
}
.cart-item .remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.cart-item .form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}

/*   function handlePhoneChange(isIncrease){
            const phoneInput = document.getElementById("phone-Count");
            const phoneCount = parseInt(phoneInput.value);
            let phoneNewCount = phoneCount;
            if(isIncrease == true){
               phoneNewCount = phoneCount + 1;
            }
            if(isIncrease == false && phoneCount > 0){
               phoneNewCount = phoneCount - 1;
            }
            phoneInput.value = phoneNewCount;
            const phoneTotal = phoneNewCount * 1219;
            document.getElementById("phone-total").innerText = '$'+ phoneTotal;
         } */


/* case */



/* const caseNewCount = caseCount -1; */

/*
            
            document.getElementById("iphOne-in").addEventListener("click",function(){
               const iphOneInput = document.getElementById("iphOne-count");
               const iphOneCount = parseInt (iphOneInput.value);
               const iphOneNewCount = iphOneCount +1;
                iphOneInput.value = iphOneNewCount;
                const iphOneTotal = iphOneNewCount *1219;
                document.getElementById("iphOne-total").innerText = "$"+ iphOneTotal;
            })
   
   
   
   
   
   
   
   
   
   
            document.getElementById("iphOne-decr").addEventListener("click",function(){
               const iphOneInput = document.getElementById("iphOne-count");
               const iphOneCount = parseInt(iphOneInput.value);
               const iphOneNewCount = iphOneCount -1;
               iphOneInput.value = iphOneNewCount;
               const iphOneTotal = iphOneNewCount*1219;
               document.getElementById("iphOne-total").innerText = "$" + iphOneTotal;
            })

              */